
html, body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between; /* 要素を左右に配置 */
  align-items: center; /* 要素を垂直方向の中央に揃える */
  padding: 20px; /* パディングを追加 */
  background-color: #00BFFF; /* 水色の背景 */
  color: white; /* テキストの色を白に */
}

header h1 {
  margin:20px auto;
}

.container-inner {
  display: flex;
  flex-direction: column; /* 子要素を縦方向に並べる */
  align-items: center; /* 子要素を中央揃えにする */
  height: 50vh; /* コンテナの高さをビューポートの高さに合わせる */
  margin: 0 auto;
}

.container-inner h2 {
  margin-top: 100px;
}

.btn-wrapper {
  margin: 80px 40px;
}

button {
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #82dbb7; /* 水色の背景 */
  color: white; /* テキストの色を白に */
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #4ca7c5; /* 水色の背景 */
  color: white; /* テキストの色を白に */
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px;
}

.menu form input {
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.list h2 {
  text-align: center;
}

.list li {
  font-size: 1.3em;
  margin-left: 2em;
  padding-bottom: 0.5em;
}

.memo_title {
  display: flex;
  justify-content: space-between;
  margin: 1em 40px;
  border-bottom: 1px dashed #646a6d;
}

.image-container {
  
  text-align: center;
}

.sampleimage {
  
}

.sampleimage img {
  max-width: 40%;
  border-radius: 10px;
  border: solid 1px gray;
}

@media (max-width: 600px) {
  .sampleimage img {
    max-width: 80%;
  }  
}